.bg-home_bg {
    width: 1900px; height: 872px;
    background: url('../img/css_sprites.png') -10px -10px;
}
.bg-Untitled_1 {
    width: 236px; height: 236px;
    background: url('../img/css_sprites.png') -10px -902px;
}