{% extends 'base.html.twig' %}
{% block body %}
    <!-- Main Content -->

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <button class="btn"><a href="/bo/add">create</a> </button>

                {% for article in articles %}
                    {{ include('single_bo.html.twig', {'article': article}) }}
                {% endfor %}
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>
{% endblock %}
