{% extends 'base.html.twig' %}
{% block body %}
    <!-- Main Content -->

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for article in articles %}
                    {{ include('single_article.html.twig', {'article': article}) }}
                {% endfor %}

                </div>
            </div>
        </div>

        <hr>
{% endblock %}
